body {
  padding: 20px 40px;
}
html{
  background-color: #c6d0da;
}


.btn-container{
   position : absolute;
   
   bottom: 60px;
   display: flex;
   gap: 10px;
}
.custom-btn {
  display: flex;
  align-items: flex-end;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: white;
  background: none;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .btn-container{
    position: static;
  }
}


